:root {
    background-color: grey;
}

header{
    text-align: center;
}

/* This is for changing the tile and button colors with time */
.past {
    background-color: lightblue;
}

.past-btn {
    background-color: blue;
    color: white;
}

.present {
    background-color: pink;
}

.present-btn {
    background-color: crimson;
    color: white;
}

.future {
    background-color: lightgreen;
}

.future-btn {
    background-color: green;
    color: white;
}